@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* reset default css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

label, input {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* css for all pages */

.container-hero {
  max-width: 111.6rem;
  margin: 0 auto;

}

.container {
  max-width: 124rem;
  margin: 0 auto;
}

.page-padding {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

/* Hamburger Menu */
.hideMenuNav {
  display: none;
}
.showMenuNav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
}

.nav-btn-hover:hover {
  transform: rotate(360deg);
  transition: all 1s;
}

/* Hero section */
.hero-section {
  background-color: #030303;
}

.hero-text {
  top: 55%;
  transform: translate(-50%, -50%);
}

.title-white {
  filter: brightness(0) invert(1);
}


/*  About section    */
.about-section {
  background-image: url('../public/About/background.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.about-cta {
  padding: 1.82rem 3.6rem;
  transition: all 0.3s;
  width: 21rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.girl-running {
  width: 100%;
  height: auto;
  top: 60%;
  right: 46%;
  transform: translate(50%, -50%);
  position: absolute;
  z-index: 5;
}

.girl-bg {
  width: 51%;
  height: auto;
  top: 67.7%;
  right: 33%;
  transform: translate(50%, -50%);
  position: absolute;
}

.girl-text {
  width: 17%;
  height: auto;
  top: 67.7%;
  right: 84%;
  transform: translate(50%, -50%);
  position: absolute;
}

.girl-wind {
  width: 15%;
  height: auto;
  top: 64.7%;
  right: 29%;
  transform: translate(50%, -50%);
  position: absolute;
}

/* Membership section */

.pricing-section {
  background-image: url('../public/About/background.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pricing-cta {
  transition: all 0.4s;
  margin-top: 4rem;
  margin-bottom: 2rem;
}


.pricing-cta:hover {
  background-color: #c6022a;
}

/* blog section */
.cta-section {
  background-image: url('../public/About/background.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* cta banner */

.cta-banner-btn {
  padding: 18px 22px;
}

/* blog page */

.blog-cta {
  padding: 18px 22px;
  margin-left: 0;
}

.banner-shape {
  -webkit-clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
}


/* login */
.class-section {
  background-image: url('../public/About/background.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.class-banner {
  background-image: url('../public/classes/banner.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 45vh;
}


/* classes page ----- */

.cycling-bg,
.power-bg,
.yoga-bg,
.zumba-bg,
.workout-bg,
.crossfit-bg,
.bodyPump-bg,
.burn45-bg,
.run-bg {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cycling-bg {
  background-image: url('../public/classes/cycling.jpg');
}

.meditaion-bg {
  background-image: url('../public/classes/yoga.jpg');
}


.bodyPump-bg {
  background-image: url('../public/classes/BodyPump.jpg');
}

.burn45-bg {
  background-image: url('../public/classes/burn45.jpg');
}

.crossfit-bg {
  background-image: url('../public/classes/crossfit.jpg');
}

.running-bg {
  background-image: url('../public/classes/running.jpg');
}


.workout-bg {
  background-image: url('../public/classes/workout.jpg');
}

.yoga-bg {
  background-image: url('../public/classes/yoga.jpg');
}

.fitness-bg {
  background-image: url('../public/classes/fitness.jpg');
}

.zumba-bg {
  background-image: url('../public/classes/zumba.jpg');
}


/* MEDIA QUERIES --------------------------------*/
@media (max-width: 468px){
  .about-cta {
    margin-left: 7rem;
  }
}



@media (max-width: 1000px){
  .hideSideImage {
    display: none;
  }
}

@media (max-width: 750px) {
  .fa-bars {
    display: flex;
  }

  .hamburger-logo {
    width: 25%;
  }
}

@media (min-width: 765px) {


  .hamburger-logo {
    width: 10%;
  }

  .hero-text {
    right: 12%;
  }

  .hero-section {
    background-image: url('../public/hero-img.jpg'); 
    width: 100%;
    height: 110vh;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
    }

    .hero-cta {
      margin-left: 0px;
    }
  
    .hero-cta::after {
      content: '';
      width: 20rem;
      height: 5.5rem;
      border: 1px solid rgba(255, 255, 255, 0.362);
      position: absolute;
      top: -12px;
      left: 24px;
      transition: all 0.4s;
    }
    
    .hero-cta:hover:after {
      content: '';
      width: 20rem;
      height: 5.5rem;
      border: 1px solid rgba(255, 255, 255);
      position: absolute;
      top: -0px;
      left: 0px;
      transition: all 0.4s;
    }
 
}

/* scrollbar ------------------------- */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #A0A0A0 #FFFFFF;
  scroll-behavior: smooth;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 12px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #FFFFFF;
}

*::-webkit-scrollbar-thumb {
  border-radius: 80px;
  background-color: #FF0336;
  border: 1.5px solid #fff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #A0A0A0;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #A0A0A0;
}